<style type="text/css">
   .pertama {
   color: green;
   }
   .biru {
   color: #335599;
   }
   .putih {
   color: #fff;
   }
   .antique_white {
   color: #FAEBD7;
   }
   .hijau {
   color: #1cc88a;
   }
   .merah {
   color: #e74a3b;
   }
   .abu {
   color: #323334;
   }
   .blue {
   color: #36b9cc;
   }
   .kuning {
   color: rgb(200,200,0);
   }
   .alice_blue {
   color: #F0F8FF;
   }
   .aquamarine {
   color: #7FFFD4;
   }
   .bisque {
   color: #ffe4c4;
   }
   .blanched_almond {
   color: #FFEBCD;
   }
</style>